// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

body {
  background: $background;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.max-screen-size{
  max-width: 540px;
}

.primary-color{
  color: $primary;
}

@media (max-width: 330px) {
  body,
  input,
  button {
    font-size: 0.7em;
  }

}